*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    text-align: center;

    flex-direction: column;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
}

img{
    padding-bottom: 20px;
}
